body {
  overflow-x: hidden;
}

/* ------------------------------------- Navbar ------------------------------------- */

nav {
  z-index: 300;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.navbar-nav li a {
  text-decoration: none;
  color: #f4f4f4;
  padding: 0px 20px;
  margin: 0px 5px;
  font-size: 1rem;
}

.navbar-nav li a:hover {
  border-bottom: 2px solid #0066b2;
}

/* MOBILE VIEW */
#menu {
  display: none;
  cursor: pointer;
  opacity: 1;
  border: 1px solid #494949;
  padding: 5px;
  border-radius: 3px;
}

#menu:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
  border-color: #0066b2;
}

.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #494949;
  opacity: 1;
  overflow-x: hidden;
  z-index: 9999;
  transition: all 0.4s ease 0s;
}

.overlay_clicked {
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  background-color: #494949;
  opacity: 1;
  overflow-x: hidden;
  transition: all 0.4s ease-out 0s;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 8vw;
  display: block;
  color: #edf0f1;
  transition: all 0.3s ease 0s;
}

.overlay a:hover {
  text-decoration: none;
  color: #0066b2;
}

@media (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media (min-width: 565px) {
  .overlay a {
    font-size: 4.62vw;
  }
}

@media (max-width: 990px) {
  #menu {
    display: block;
  }
}

/* ------------------------------------- CONTACT US ------------------------------------- */
.container-fluid h3 {
  font-family: "Roboto", sans-serif;
}
.container1 input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: -6px;
  margin-bottom: 6px;
}
label {
  margin-top: 3px;
}
textarea {
  height: 120px;
  margin-bottom: 20px;
}
#subject {
  margin-top: -6px;
  overflow: auto;
}

.container1 input[type="submit"] {
  background-color: #0066b2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.submit {
  margin-top: 10px;
}
.container1 input[type="submit"]:hover {
  opacity: 0.8;
}

.items {
  padding-bottom: 10px;
}

.items h4 {
  margin-top: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon1 {
  display: flex;
  align-items: flex-end;
}

.text1 {
  display: flex;
  align-items: flex-start;
}

.form1 {
  font-family: "Roboto", sans-serif;
  margin: 5px 15%;
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 5%;
  margin-bottom: 10px;
}

.form1 input {
  width: 80%;
  font-size: 1rem;
  padding: 2px;
}

.form1 label {
  text-align: left;
  margin-bottom: 5px;
}

@media (max-width: 400px) {
  .media {
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .container1 .first {
    flex-direction: column;
    height: inherit;
  }
  .container1 .row .one {
    width: 100%;
    padding: 70px 50px;
  }
  .container1 .row .two {
    width: 100%;
    border-radius: 10px;
    padding: 40px;
    margin-top: 30px;
    z-index: 10;
    border-radius: 10px;
  }
  .container1 .second {
    height: 0px;
  }
}

@media (max-width: 768px) {
  .open-button {
    background-color: #333;
    color: white;
  }
  .open-button i {
    color: white;
  }
}
