.register_info {
  margin: auto;
  width: 50%;
  padding: 20px;
  font-size: 1rem;
}

.g-form {
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 500px) {
  .register_info {
    width: 90%;
  }
  .register_img {
    width: 90%;
    padding: 20px;
    height: auto !important;
  }
}

@media (max-width: 768px) and (min-width: 500px) {
  .register_info {
    width: 82%;
  }
  .register_img {
    width: 80%;
    height: auto !important;
  }
}

@media (max-width: 900px) and (min-width: 768px) {
  .register_info {
    width: 74%;
  }
}

@media (max-width: 1400px) and (min-width: 900px) {
  .register_info {
    width: 60%;
  }
}
