*{
    margin: 0;
    padding: 0;
}

.content-wrapper{
    width: 95%;
    margin: auto;
}

.text-wrapper{
    padding: 10% 20%;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: right;
}

.about-us p{
    font-size: 1.5rem;
    font-weight: 300;
}

.about-us{
    margin: 1.5rem 10%;
}

.stats{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.stat{
    font-weight: 700;
    font-size: 2rem;
}

.odd{
    background-color: #c9bd8d;
    padding: 10px;
}

.even{
    background-color: darkgray;
    padding: 10px;
}

@media (max-width: 900px) and (min-width: 768px){
    .foot1 {
        margin-top: 0px!important;
    }
}