@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

h1 {
  font-size: 2.5rem !important;
}

h3 {
  font-size: 1.9rem;
}

h6 {
  font-size: 1.4rem;
}

@media (max-width: 576px) {
  .edc-title {
    font-size: 1.5rem !important;
  }
}

p {
  font-size: 1rem;
}

.nav {
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  padding: 10px 0px;
  z-index: 99999;
}
.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.nav-link {
  font-weight: 700;
}

.nav-link:hover {
  background-color: #e1e1e1;
  border-radius: 5px;
}

.mobile-link {
  text-decoration: none;
}

@media (max-width: 992px) {
  .nav-link {
    display: none !important;
  }
}
.content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.content-wrapper {
  width: 95%;
  margin: auto;
  margin-bottom: 1.5rem;
}
.why {
  margin: 1.5rem 0;
}

.why_content {
  text-align: justify;
  margin: 10px;
  margin-right: 25px;
  line-height: 1.5;
}

.why h3 {
  margin-bottom: 1rem;
  margin-left: 10px;
}

.brag {
  margin-top: 0.5rem;
}

.brag h6 {
  margin: 20px 0;
  margin-left: 10px;
}

.stats {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  margin: 1.5rem 0;
}

.stat {
  font-weight: 700;
  font-size: 1.5rem;
}

.odd {
  background-color: #0066b2;
  padding: 10px;
  margin: 1rem;
  border-radius: 10px;
  color: white;
}

.even {
  background-color: #0066b2;
  padding: 10px;
  margin: 1rem;
  border-radius: 10px;
  color: white;
}

.odd:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.even:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.sponsors {
  margin: 1.5rem 0;
}

.sponsors h3 {
  margin: 0.5rem 0;
}

.customer-logos {
  margin: 1rem 0;
}

.banner {
  width: 960px;
  margin: auto;
}

@media (max-width: 992px) {
  .banner {
    width: 100%;
  }
}

.i-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.social i {
  font-size: 2rem;
  margin: 0 10px;
  color: gray;
}
footer {
  background-color: #f1f1f1;
  color: #333333;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin: 4px 10px;
  padding: 4px;
  columns: grey;
}

.copyright {
  font-size: 16px;
  font-weight: 600;
  background-color: #0066b2;
  margin-bottom: 0;
  padding: 20px;
  color: white;
  margin-top: 10px;
  border-radius: 10px 10px 0 0;
  width: 90% !important;
  margin: auto;
}

.img {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
@media (min-width: 1400px) {
  nav {
    padding: 0px 100px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  nav {
    padding: 0px 88px !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  nav {
    padding: 0px 76px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  nav {
    padding: 0px 64px !important;
  }
}

@media (min-width: 576x) and (max-width: 768px) {
  nav {
    padding: 0px 48px !important;
  }
}
