@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.nav li{
    list-style: none!important;
}

.navbar a{
    margin-left: 40px;
}

.navbar{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.navbar div{
    margin-right: 40px;
}

.content-wrapper{
    width: 95%;
    margin: auto;
}

.text-wrapper{
    padding: 10% 10%;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: right;
}

.about-us{
    background-color: #f1f1f1;
    padding: 5px;
}

.about-us p{
    font-size: 1rem;
    font-weight: 300;
}
/*
.about-us{
    margin: 1.5rem 10%;
}

.why h3{
    margin-bottom: 0.325rem;
    background-color: #f1f1f1;
    padding: 5px;
}
*/
.why div{
    margin-top: 0.325rem;
}

.stats{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    background-color: #f1f1f1;
    padding: 5px;
}

.stat{
    font-weight: 700;
    font-size: 1.5rem;
}

.odd{
    background-color: white;
    padding: 10px;
    margin: 1rem;
    border-radius: 10px;
}

.even{
    background-color: white;
    padding: 10px;
    margin: 1rem;
    border-radius: 10px;
}

.odd:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.even:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
/*
.sponsors h3{
    background-color: #f1f1f1;
    padding: 5px;
}
*/
.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social i{
    font-size: 2rem;
}

footer{
    background-color: #f1f1f1;
}

.footer ul{
    list-style: none;
}

.footer li{
    margin: 4px 10px;
    padding: 4px;
    columns: grey;
}

@media (max-width: 900px) and (min-width: 768px){
    .foot1 {
        margin-top: 0px!important;
    }
}

@media (min-width: 1400px){
    /*.stats{
        max-width: 1320px;
        margin: auto;
    }*/
    nav{
        padding: 0px 100px!important;
    }
}

@media (min-width: 1200px) and (max-width: 1400px){
    /*.stats{
        max-width: 1140px;
        margin: auto;
    }*/
    nav{
        padding: 0px 88px!important;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    /*.stats{
        max-width: 960px;
        margin: auto;
    }*/
    nav{
        padding: 0px 76px!important;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    /*.stats{
        max-width: 720px;
        margin: auto;
    }*/
    nav{
        padding: 0px 64px!important;
    }
}

@media (min-width: 576x) and (max-width: 768px){
    /*.stats{
        max-width: 540px;
        margin: auto;
    }*/
    nav{
        padding: 0px 48px!important;
    }
}

@media (max-width: 768px){
    #menu{
        margin-right: 40px;
    }
}