  
body {
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: #fff;
}


.year {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.year h6 {
	width: 500px;
	font-size: 24px;
	padding: 0px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.third, .second {
	margin-top: 50px;
}

#main_team {
	margin-top: 6rem;
	z-index: 100;
}

@media (max-width: 768px) {
	#main_team .padding {
		padding-top: 0 !important;
	}
}

@media (max-width: 768px) {
	#main_team span {
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	/*#main_team .margin_new {
		width: 90%;
	}*/
}

#main_team h1 {
	font-size: 36px;
	color: #212121;
}

@media (max-width: 768px) {
	#main_team h1 {
		font-size: 28px;
	}
}

@media (max-width: 768px) {
	#main_team h2 {
		font-size: 20px;
	}
}
/*
#main_team .margin {
	width: 75%;
}

@media (max-width: 768px) {
	#main_team .margin {
		width: 80%;
	}
}
*/



#main_team .head_team {
	min-height: 100px;
	width: 100%;
	padding: 24px;


    position: relative;
}

 #main_team .head_team .img {
	/* width: 100%; */
	/* border-radius: 8px; */


	/* display: block; */
	width: 100%;
	/* height: auto; */
} 

#main_team .head_team a {
	text-decoration: none;
}

@media (max-width: 768px) {
	#main_team .head_team h3 {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	#main_team .head_team h5 {
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	#main_team .head_team h6 {
		font-size: 14px;
	}
}
/*
@media (max-width: 768px) {
	#main_team .box_container {
		width: 90%;
	}
}
*/
/* #main_team .box {
	width: 380px;
	margin-top: 6rem;
	margin-bottom: -100px;
	margin-right: 0 !important;
	padding-right: 40px;
	padding-left: 40px;
	min-height: 240px;
	border-radius: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.24);
	background: -webkit-gradient(linear, left top, right bottom, from(#46d3ff), to(#1afb94));
	background: linear-gradient(to bottom right, #46d3ff, #1afb94);
} */
/*
@media (max-width: 768px) {
	#main_team .box {
		width: 90vw;
	}
}
*/
@media (max-width: 768px) {
	#main_team .box h1 {
		font-size: 28px;
	}
}

.overlay{
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.head_team:hover .overlay {
	opacity: 0.4;
	border-radius: 8px;
  }

.overlay h5 {
	color: black;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.overlay h6{
	color: black;
	text-align: center;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.fadeIn-top{
	top: 0%;
  }

  .content {
	position: relative;
	width: 90%;
	max-width: 400px;
	margin: auto;
	overflow: hidden;
	width: 300px;
  }
  
  .content .content-overlay {
	background: rgba(0,0,0,0.7);
	position: absolute;
	height: 99%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay{
	opacity: 1;
  }
  
  .content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
	top: 50%;
	left: 50%;
	opacity: 1;
  }

  .content-details h5{
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.15em;
	margin-bottom: 0.5em;
  }

  .content-details h6{
	color: #fff;
	font-size: 0.8em; 
  }

.all_tile{
	display: flex;
    justify-content: space-evenly;
}